# Temp build stuff
builddir*
subprojects
src.tar.gz

# But not wrap files in subprojects
!subprojects/*.wrap

# data and large files
data/PAXMIN*
data/paxraw*
data/PAXRAW*
data/study-*

# C++ executable used in debugging
src/nhanes-csv-split/main

# VS
.vs*
**/Debug/*
**/Release/*
**/x64/*
**/obj/*
**.vcxproj.user
