# Temp build stuff
builddir*
subprojects

# But not wrap files in subprojects
!subprojects/*.wrap

# data and large files
data/PAXMIN*
data/paxraw*
data/PAXRAW*
data/study-*

# C++ executable used in debugging
src/nhanes-csv-split/main
