<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Debug configuration-->
  <appSettings>
        <add key="allDataFolder" value="..\..\..\..\app\PatternPA.Data\Samples\GroupTest" />
    <add key="artificialBaseDir" value="..\..\..\..\app\PatternPA.Data\Samples\Artificial" />
    <add key="contrastFloder" value="..\..\..\..\app\PatternPA.Data\Samples\Contrast\" />
    <add key="CSVExtention" value=".csv" />
    <add key="cumulativeStepsSuffix" value="CumulativeStepCounts.csv" />
    <add key="DefaultFolderPath" value="..\..\..\..\app\PatternPA.Data\Samples\GroupTest" />
    <add key="DefaultGroupDataPath" value="GroupData.csv" />
    <add key="fileDateFormat" value="{0:MM_dd_yyyy}" />
    <add key="fileNamesSeparator" value="_" />
    <add key="longRunningData" value="..\..\..\..\app\PatternPA.Data\Samples\Subgroup3000\" />
    
    <!--<add key="longRunningNhanesData" value="..\..\..\..\app\PatternPA.Data\Samples\NHANES.PersonPAM\all" />-->
    <!--<add key="longRunningNhanesData" value="..\..\..\..\app\PatternPA.Data\Samples\NHANES.PersonPAM\FewSamples" />-->    
    <add key="longRunningNhanesData" value="..\..\..\..\app\PatternPA.Data\Samples\NotProcessed" />

    
    
    <!--<add key="nhanesPamRawData" value="..\..\..\..\app\PatternPA.Data\Samples\NHANES\" />-->
    <add key="nhanesPamRawData" value="..\..\..\..\..\doc\NHANES\Analysis\MATLAB\CSV\2005-2006" />    
    <add key="nhanesPeoplePamDataOutput" value="Data\Nhanes\People" />
    <add key="nhanesPeronDataFileSuffix" value=".Nhanes.csv" />
    <add key="peronDataFileSuffix" value="TrimmedEvents.csv" />
    <add key="sampleFilePath" value="Data\2003TrimmedEvents.csv" />
    <add key="sampleNhanesFilePath" value="Data\21015.Nhanes.csv" />
    <add key="sampleGroup" value="..\..\..\..\app\PatternPA.Data\Samples\GroupTest" />
    <add key="skipHeaderCount" value="1" />
    <add key="snapshotTextOutput" value="outputSnapshots.txt" />
    <add key="subsampleNhanesFloder" value="..\..\..\..\app\PatternPA.Data\Samples\NHANES.PersonPAM.Subsample\" />
  </appSettings>
</configuration>