<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--This section is updated by the AfterBuild MSBuild task-->
	
	<!--Depending on the configuration the content of projectName.dll.config is fully 
	    substituted by the correspondent file from the 'Config' directory-->
	
	<!--This is a sample task-->
	<!--<Target Name="AfterBuild">
		<Delete Files="$(TargetDir)$(TargetFileName).config" />
		<Copy SourceFiles="$(ProjectDir)\Config\App.$(Configuration).config"
			  DestinationFiles="$(TargetDir)$(TargetFileName).config" />
	</Target>-->



	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter"
					 initializeData="trace.log" />
			</listeners>
		</trace>
	</system.diagnostics>


</configuration>